.help-center-container {
    padding: 70px;
    max-width: 800px;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
}

.help-center-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.help-center-description {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    color: #666;
}

.help-center-sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.help-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.help-section:hover {
    transform: translateY(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.help-section-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.help-section-description {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}
