.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 30px;
  background-color: url('https://tse2.mm.bing.net/th?id=OIP.B8SiYe2rUIYdtP2NAjkHewHaE8&pid=Api&P=0&h=180');
  background:transparent;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  font-style: bold;
}

.login-form h1 {
  margin-bottom: 20px;
}
.login-success {
  color: green;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}


.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  display: flex;
  align-items: center;
}

.show-password {
  background: none;
  border: none;
  color: #bfe4f8;
  cursor: pointer;
  margin-left: 10px;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
  color: #0073b1;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button,
.otp-login,
.google-login {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button {
  background-color: #b8e0f6;
  color: white;
}

.login-button:hover {
  background-color: #f84545;
}

.otp-login {
  background-color: transparent;
  color: #0073b1;
}

.otp-login:hover {
  background-color: #f0f0f0;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  position: relative;
  top: -10px;
}

.divider span::before,
.divider span::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.google-login {
  background-color: white;
  color: #4285f4;
  border: 1px solid #ccc;
}

.google-login:hover {
  background-color: #f0f0f0;
}
